/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Prata', serif;

}

nav ul a,
nav .brand-logo {
  color: #bcaaa4;
  font-family:'IM Fell English SC', serif;

}


.nav-wrapper {

  padding: 0 50px;

  }

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  
.section-intro {
height: 100%;
width: 100%;
}

  .header  {
margin-top: 15%;
    }

    .header-subtitle {
margin-top: 10%;
}

@media only screen and (max-width : 1024px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .nav-wrapper {

  padding: 0 10px;

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.col-servizio {
margin-top: 60px;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
